<div class="fixed">
  <a><img class="menu" src="assets/menu.png"></a>
  <%= menu %>
</div>

<div>
  <div style="padding-top: 50px;">
    <img class="horizontal_center" src="assets/emblemmatic-manelife-logo-61.png">
  </div>

  <p class="text_center">カレンダーを確認して、電車を調べて、アラームを設定。<br><br>そんな毎日のタスクもうさよなら</p>

  <%= link_to("使ってみる（新規登録）", new_user_registration_path, class: "start_button horizontal_center") %>
</div>
