.start_button{
  @include button;
}

.menu_button{
  @include button($width: 150px, $height: 40px, $backgroundcolor: gray, $color: white);
  float: right;
  margin: 10px;
}

.menu{
  width: 150px;
  height: 60px;
  object-fit: contain;
  float: right;
  padding: 10px;
  box-sizing: border-box;
}
